[submodule "RestKit"]
	path = RestKit
	url = git://github.com/twotoasters/RestKit.git
[submodule "EgoTableView"]
	path = EgoTableView
	url = https://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "CrashReporter"]
	path = CrashReporter
	url = git://github.com/TheRealKerni/CrashReporterDemo.git
